{
    "presets": ["react"],
    "ignore": "node_modules",
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "true"
            }
        ]
    ]
}